<div class="menu flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="logo-green">
    </div>
    <div class="menu-container flex options">
        <app-button-menu [description]="'Home'" [selected]="menuSelected === 'Home'" (click)="buttonClick('Home')">
            <fa-icon [icon]="homeIcon"></fa-icon>
        </app-button-menu>
        <app-button-menu [description]="'Pesquisar'" [selected]="menuSelected === 'Pesquisar'" (click)="buttonClick('Pesquisar')">
            <fa-icon [icon]="searchIcon"></fa-icon>
        </app-button-menu>
        <app-button-menu [description]="'Artistas'" [selected]="menuSelected === 'Artistas'" (click)="buttonClick('Artistas')">
            <fa-icon [icon]="artistsIcon"></fa-icon>
        </app-button-menu>
    </div>
</div>
<div class="user-info">

</div>
